@font-face {
  font-family: 'AvenirNextCyr-Bold';
  src: url('./fonts/avenirnextcyr-bold.ttf') format('truetype');
}
@font-face {
  font-family: 'AvenirNextCyr-Demi';
  src: url('./fonts/avenirnextcyr-demi.ttf') format('truetype');
}
@font-face {
  font-family: 'AvenirNextCyr-Heavy';
  src: url('./fonts/avenirnextcyr-heavy.ttf') format('truetype');
}
@font-face {
  font-family: 'AvenirNextCyr-Light';
  src: url('./fonts/avenirnextcyr-light.ttf') format('truetype');
}
@font-face {
  font-family: 'AvenirNextCyr-Medium';
  src: url('./fonts/avenirnextcyr-medium.ttf') format('truetype');
}
@font-face {
  font-family: 'AvenirNextCyr-Regular';
  src: url('./fonts/avenirnextcyr-regular.ttf') format('truetype');
}
@font-face {
  font-family: 'AvenirNextCyr-Thin';
  src: url('./fonts/avenirnextcyr-thin.ttf') format('truetype');
}
@font-face {
  font-family: 'AvenirNextCyr-UltraLight';
  src: url('./fonts/avenirnextcyr-ultralight.ttf') format('truetype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'AvenirNextCyr-Bold';
}
